
@model IEnumerable<WebApplication6.Urunler>

<table class="table">
    <tr>
        <th>
            Ürün Adı
        </th>
        <th>
            Fiyat
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.UrunAdi)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fiyat)
            </td>

        </tr>
    }

</table>