@model IEnumerable<WebApplication6.Urunler>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Ürün Adı
        </th>
        <th>
           Fiyat
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @item.UrunAdi
        </td>
        <td>
            @item.Fiyat
        </td>
       
    </tr>
}

</table>
